# Настройки PostgreSQL для локального запуска
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
POSTGRES_DB=petshop
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?sslmode=disable
DB_TIMEOUT=10s
APP_ENV=local
